@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butcherman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
/*Christmas: Mountains of Christmas */
/*Halloween: Butcherman */
body {
  font-family: 'Source Code Pro', monospace;
  background-color: white;
  overflow-x: hidden;
  margin: 0px;
}
#top {
    z-index: 20;
    background: white;
    width: 100vw;
    height: 80px;
    color: black;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
}
#topItems {
    display: flex;

    align-items: center;
    max-width: 900px;
    margin: auto;
    font-size: 50px;
    padding: 10px;
}
.cursor {
   width: 100px;
}
/*Tabs*/
.tab:hover {
  color: red;
  transform: scale(1.2);
  cursor: pointer;
}
.tab {
color: black;
text-decoration: none;
}
.current {
color: darkred;
}

#footer {
  background-color: white;
  box-shadow: 0 4px 15px rgb(0, 0, 0, 0.5);
  color: black;
  display: flex;
  justify-content: center;
  padding: 30px;
}
.footerItems {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}
#about {
  background-color: gray;
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: row;
}
::selection {
    color: black;
    background-color: red;
}
@keyframes glow {
    from {
      text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red;
    }
    
    to {
      text-shadow: 0 0 20px red 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red, 0 0 80px red;
    }
}
.withers {
    font-size: 60px;
    animation: rubberBand 1.5s;
    animation: glow 1s ease-in-out infinite alternate;
}
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#homeWelcome {
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
}
.type:hover {
  animation: bounce 1.5s linear infinite;
}
#loaderHome {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid red;
    border-right: 16px solid black;
    border-bottom: 16px solid red;
    border-left: 16px solid black;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
.type {
    font-size: 200px;
    margin: 15px;
}

#intro {
  background-color: black;
}

  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  @keyframes bounce {
    from,
  20%,
  50%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.64, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.64, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  45% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.05);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.05);
    -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }

  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.65, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.65, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
#shopItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}
#table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

/*SplashApps cards*/
#SplashApps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 50vh;
}
#SplashApps .cards{
    font-size: 60px;
    padding: 60px;
    background-color: whitesmoke;
    text-align: center;
    text-decoration: none;
    color: inherit;
    border-radius: 60px;
    margin: 20px;
}
#SplashApps .cards:hover {
  transform: scale(1.1);
}
#SplashApps .cards .icon{
    font-size: 100px;
    transition: all .2s;
}
  
  /*Sign in*/
  button {
    background-color: red;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    opacity: 0.8;
  }
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  .container {
    padding: 16px;
    background-color: black;
  }
  span.psw {
    float: right;
    padding-top: 16px;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }
  .modal-content {
    background-color: black;
    color: white;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 40%;
  }
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    font-size: 35px;
    font-weight: bold;
    color: red;
  }
  .close:hover,
  .close:focus {
    opacity: 0.8;
    cursor: pointer;
  }
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
  } 
a {
  color: inherit;
  text-decoration: none;
}
.mnav {display: none;}
@media all and (max-width: 700px) {
    .wnav {display: none;}
    .mnav {display: block;}
}
