@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

        body {
            margin: 0;
            padding: 0;
            background-color: grey;
        }
        nav {
            background: rgb(0, 0, 0);
            width: 100vw;
            color: white;
        }
        nav .items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 900px;
            margin: auto;
            padding: 15px 0;
            font-family: "Goldman";
            font-size: 20px;
        }
        .items > span {
            cursor: pointer;
        }
        .items > span:hover {
            color: red;
        }
        .hero {
            margin: 0;
            width: 100%;
            height: auto;
            background-color: black;
            color: white;
            font-family: "Goldman";
            padding: 40px;
            box-sizing: border-box;
        }
        .hero > .row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .hero > .row > img {
            width: 20%;
        }
        .hero > .row > .col {
            text-align: center;
        }
        #buybtn {
            background-color: red;
            padding: 8px 17px;
            border-radius: 1000px;
            margin-right: 20px;
        }
        .go > span {
            cursor: pointer;
        }
        .go > #buyfeed {
            margin-top: 20px;
        }
        .herologo > span {
            font-size: 30px;
        }